# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environnements virtuels
.venv/
venv/
env/
emotion_venv/
*.egg-info/

# Conda
.conda/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Données brutes & lourdes (ne pas versionner)
data/raw/
data/processed/
data/splits/*.csv

# Modèles & checkpoints (trop lourds pour Git)
checkpoints/
*.pt
*.bin
*.safetensors

# Résultats intermédiaires
results/

# Variables d'environnement
.env
*.env

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Whisper cache
~/.cache/whisper/

notebooks/data/




# dossiers de données
APS_Emotion_AI/audio_speech_actors_01-24/
APS_Emotion_AI/AudioWAV/

# fichiers lourds
*.wav
*.mp4
*.pt

# python
__pycache__/

