# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environnements virtuels
.venv/
venv/
env/
emotion_venv/
*.egg-info/

# Conda
.conda/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Données brutes & lourdes (ne pas versionner)
data/raw/
#data/processed/
data/splits/*.csv



# Résultats intermédiaires
results/

# SLURM logs (cluster)
logs/

# SLURM - fichiers personnalisés (email, config)
train_bert.sbatch
train_bert_slurm.py
test_audio_model.py
SETUP_BEFORE_SLURM.md
SLURM_GUIDE.md
train_bert.sbatch.template

# Variables d'environnement
.env
*.env

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Whisper cache
~/.cache/whisper/

notebooks/data/


# dossiers de données
APS_Emotion_AI/audio_speech_actors_01-24/
APS_Emotion_AI/AudioWAV/

# fichiers lourds
*.wav
*.mp4
*.pt
*.gz

# python
__pycache__/

